
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Do these things</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>
<body>
  <div class="wrapper">
  <h1>I Pity The Fool Who Doesn't Complete These</h1>
  <form action="/todos" method="post">
    <input type="text" name="todo" />
    <button type="submit">Create Todo</button>
  </form>
  <ul>
    {{#todos}}
    {{#yetTodo}}
    <li>
      <form action="/complete" method="post">
        <button type="submit" name="marked" value="{{todo}}">Mark as Complete</button>
        <a href="/todo/{{todo}}/edit">edit</a>
        <form class="delete" method="post" action="/todo/{{todo}}/delete"><button type="submit">Delete</button></form>
      {{todo}}
      </form>
    </li>
    {{/yetTodo}}
    {{/todos}}
  </ul>
  <h1>Items Beneath You</h1>
  <ul>
    {{#todos}}
    {{^yetTodo}}
    <li>
      {{todo}}
      <form class="delete" method="post" action="/todo/{{todo}}/delete"><button type="submit">Delete</button></form>
      <a href="/todo/{{todo}}/edit">edit</a>
    </li>
    {{/yetTodo}}
  </ul>
  {{/todos}}
  {{^todos}}
  <h2>Move along!</h2>
  {{/todos}}
</div>


</body>
</html>
