li{
  text-decoration: none;
  list-style-type: none;
  color: green;
  font-weight: bold;
}

.marked{
  width: 200px;
  margin-right: 20px;
}

h1{
  color: green;
}

.wrapper{
  background-image: url('https://images-na.ssl-images-amazon.com/images/M/MV5BMTQ5Nzg2MTgwMl5BMl5BanBnXkFtZTcwNTA0NjcxMw@@._V1_UY317_CR0,0,214,317_AL_.jpg');
  background-repeat: no-repeat;
  background-size: 700px;
  margin: auto;
  padding-left: 10px;
  padding-top: 10px;
}

body{
  margin: 0 auto;
  padding-left: 50px;
}
