li{
  text-decoration: none;
  list-style-type: none;
  color: green;
  font-weight: bold;
  padding: 10px;
}

.marked{
  width: 200px;
  margin-right: 20px;
}

h1{
  color: green;
}

.wrapper{
  background-image: url('https://images-na.ssl-images-amazon.com/images/M/MV5BMTQ5Nzg2MTgwMl5BMl5BanBnXkFtZTcwNTA0NjcxMw@@._V1_UY317_CR0,0,214,317_AL_.jpg');
  background-repeat: no-repeat;
  background-size: 900px;
  margin: auto;
  padding-left: 10px;
  padding-top: 10px;
}

body{
  margin: 0 auto;
  padding-left: 50px;
}

.marked{
  background-color: green;
  width: 80px;
}

.edit{
  padding-left: 5px;
  padding-right: 5px;
  font-style: italic;
  text-decoration: none;
  background: rgba(0,0,225,0.2)
}

.delete{
  padding-top: 3px;
}

.delete button{
  background-color: gray;
}

.word{
  font-size: 20px;
  box-sizing: border-box;
  background: rgba(0,128,0,0.2);
}
